<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIRH_MAX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIRH_MAX.Properties.Settings>
            <setting name="MonitorFile" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="idProcess" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idProcess2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hablaCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="escuchaCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </AIRH_MAX.Properties.Settings>
    </userSettings>
</configuration>