<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemMonitorControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemMonitorControls.Properties.Settings>
            <setting name="EncendidoHDD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncendidoCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncendidoGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncendidoRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncendidoRED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecursoCPU" serializeAs="String">
                <value />
            </setting>
            <setting name="TemperaturaCPU" serializeAs="String">
                <value />
            </setting>
            <setting name="RecursoHDD" serializeAs="String">
                <value />
            </setting>
            <setting name="TemperaturaHDD" serializeAs="String">
                <value />
            </setting>
            <setting name="TemperaturaGPU" serializeAs="String">
                <value />
            </setting>
            <setting name="RecursoNVIDIA" serializeAs="String">
                <value />
            </setting>
            <setting name="RecursoRAM" serializeAs="String">
                <value />
            </setting>
            <setting name="BajadaRED" serializeAs="String">
                <value />
            </setting>
            <setting name="SubidaRED" serializeAs="String">
                <value />
            </setting>
            <setting name="Vel_DescargaRED" serializeAs="String">
                <value />
            </setting>
            <setting name="Vel_SubidaRED" serializeAs="String">
                <value />
            </setting>
        </SystemMonitorControls.Properties.Settings>
    </userSettings>
</configuration>